*{
	margin: 0px;
	padding: 0px;
	font-family: 'Exo 2', sans-serif;
}

article{
	height: 100%;
	width: 100%;
	background-image: url(img/Wall2.PNG);
}
#margen{
	height: 75%;
	width: 85%;
	background-color: #7d5fff;
	position: fixed;
	top: 80px;
	left: 100px;
}
/*Recuadro izquierdo*/
#Izquierda{
	height: 100%;
	width: 50%;
	position: relative;
	float: left;
}
	#Izquierda>h1{
		font-size: 40px;
		font-family: 'Exo 2', sans-serif;
		color: #f1f2f6;
		text-align: center;
		padding-top: 180px;
	}
	#Izquierda>h4{
		font-size: 18px;
		font-family: 'Exo 2', sans-serif;
		color: #f1f2f6;
		text-align: center;
		top: 45px;

	}
	/*Recuadro Derecho*/
#Derecha{
	height: 100%;
	width: 50%;
	background-color: white;
	position: relative;
	float: right;
	text-align: center;
}
.Links{
	padding-top: 150px;
}
